<% layout("./layouts/boilerplate") -%>

<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
        <br>
        <h3 class="offset-3"><%= listing.title %> </h3>
        <br>
        </div> 
            
        <div class="card col-8 offset-2  show-card">
            <img src="<%= listing.image.url %>" alt="listing_image" class="card-img-top show-img" >
            <br>
            <div class="card-body">
                <p class="card-text"> 
                    
                    <!-- <b><%= listing.title %></b> <br> -->
                    <p><b>Description :</b> <%= listing.description %> </p> 
                    <p><b>Price :</b>       &#8377; <%= listing.price.toLocaleString("en-IN") %></p>
                    <p><b>Location :</b>    <%= listing.location %> </p> 
                    <p><b>Country :</b>     <%= listing.country %></p> 
                    
                </p>
            </div>
        </div>

        
        
        
    
    
    <div class="btns">
        <a href="/listing/<%= listing.id %>/edit" class="btn btn-dark col-md-1 offset-2 edit-btn">&nbsp;Edit&nbsp;</a>
    <br>
        <form action="/listing/<%= listing.id %>?_method=DELETE" method="Post" >
            
            <button class="btn btn-dark offset-2 ">Delete</button>
            
            
        </form>
    </div>

    <div class="col-8 offset-2 mb-3">
        <br><hr>
        <h4>Leave a Review</h4>
        <form action="/listing/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment"  class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comments for review</div>
            </div>
            <div class="mb-3 mt-3">
                <label for="name"  class="form-label">Name</label>
                <input type="text" name="review[name]" id="name" class="form-control" required>
                <div class="invalid-feedback">Write your name, Please. </div>
            </div>
            
            <button class="btn btn-outline-dark">Submit</button>

        </form>
        <hr><br><br><br>

        <h4 style="text-align: center;">All Reviews</h4>
        <br>
        
        <% if (listing.reviews.length === 0) { %>
                <p>There are no reviews yet. </p>
                <p>Be the first one to review</p>

        <% } else { %>

                <p>Total Reviews: <%= listing.reviews.length %></p>
                <hr>
                <br><br>
                <% for(let review of Allreviews) { %>

                    <% if (listing.reviews.includes(review._id)) { %>
                        <div class="card">
                            <div class="card-header">
                                <p><%= review.name %></p>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><%= review.comment %></p>
                                <p class="card-text">
                                    Rating: 
                                    <% for(let i = 0; i < review.rating; i++) { %>
                                        <span>⭐</span>
                                    <% } %></p>
                                <p class="card-text">Reviewed on: <%= new Date(review.createdAt).toLocaleDateString() %></p>
                            </div>
                            
                        </div>
                        <hr>
                    <% } %>

                <% } %>


        <% } %>
    </div>

</div>
<br><br>
    
</body>
